body {
  background-color: white;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content-container {
  min-height: calc(100vh - 72px);
}

.MedCollectionContainer {
  margin: 0 auto;
}

.modal {
  position: absolute;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: -moz-fit-content;
  width: fit-content;
  left: 0;
  right: 0;
  top: 100px;
  border: .5px solid gray;
}

.accountDropModal {
  padding-left: calc(100% - 220px);
  z-index: 9;
  left: 0;
  right: 0;
  padding-top: 50px;
  background-color: transparent;
}

.dropbox {
  display: flex;
  align-self: stretch;
  justify-content: center;
  z-index:auto;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.accountSettings {
  margin: 0;
  justify-content:flex-start;
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  background-color: transparent;
}

.accountMain {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 146px);
  width:85%;
  border: 2px;
  border-color: orangered;
}

.changePasswordDiv {
  width: 35%;
  height: 50%;
}

.deleteAccountDiv {
  width: auto;
  height: 25%;
  gap: 10px;
}

.myInfoDiv {
  width: inherit;
  height: 50%;
  background-color: transparent;
  padding: 0px;
}